* {
  text-align: center;
  margin: 0;
}

div {
  width: 100%;
}

#navbar {
  background-color: rgba(92, 11, 168, 0.852);
  height: 50px;
  margin-bottom: 50px;
  position: sticky;
}

#navbar a {
  color: white;
  position: relative;
  top: 10px;
}

.container {
}

.search-bar-container {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

h2 {
  margin-bottom: 35px;
}

label {
  margin: 0 15px 0;
}

input {
  margin-left: 5px;
}

select {
  margin-left: 5px;
}

#player {
  display: inline-block;
  border: white solid 1px;
  margin: 50px 20px 50px 20px;
  width: 25%;
  border-radius: 10px;
  background-color: rgba(92, 11, 168, 0.852);
  transition: background-color 0.5s ease-out 100ms;
}

#player:hover {
  background-color: rgba(135, 25, 238, 0.972);
}

h4,
p {
  margin: 15px 0 15px 0;
  color: black;
}

img {
  height: 150px;
  width: 150px;
}

button {
  margin: 15px 0 15px 0;
}
